:host {
  display: block;
  flex: 1 1 250px;
  max-width: 600px;
  min-width: 400px;
}

.character-card {
  background-color: #2a2d33;
  color: #fff;
  border-radius: 12px;
  padding: 12px;
  max-width: 600px;
  display: flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif;

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.2s;
  }

  .card-content {
    display: flex;
    align-items: center;
  }

  .character-image {
    width: 200px;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 16px;
  }

  .character-info {
    flex: 1;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0;
    }

    .type {
      font-size: 0.9rem;
      color: #b5b5b5;
      margin-bottom: 12px;
    }

    .info-block {
      margin-bottom: 6px;

      .label {
        color: #aaa;
        font-size: 0.8rem;
      }

      .value {
        margin: 0;
        font-size: 0.95rem;
        font-weight: 400;
      }
    }
  }
}
