:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.welcome {
  font-family: 'Creepster';
  font-size: 4rem;
  color: var(--rickmorty-blue);
}

.description {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #555;
}

.explore-button {
  height: 60px;
  font-size: 2vh;
}
