<h1 mat-dialog-title class="dialog-title">{{data.name}}</h1>
<mat-dialog-content class="dialog-content">
  <img mat-card-image [src]="data.image" onerror="this.src='assets/images/Unknown_person.jpg'" alt="{{ data.name }}" class="character-image">

  <div class="edit-form">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="editedCharacter.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="editedCharacter.status">
        <mat-option value="Alive">Vivo</mat-option>
        <mat-option value="Dead">Morto</mat-option>
        <mat-option value="unknown">Desconhecido</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Espécie</mat-label>
      <input matInput [(ngModel)]="editedCharacter.species" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo</mat-label>
      <input matInput [(ngModel)]="editedCharacter.type" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gênero</mat-label>
      <mat-select [(ngModel)]="editedCharacter.gender">
        <mat-option value="Male">Masculino</mat-option>
        <mat-option value="Female">Feminino</mat-option>
        <mat-option value="Genderless">Sem gênero</mat-option>
        <mat-option value="unknown">Desconhecido</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Origem</mat-label>
      <input matInput [(ngModel)]="editedCharacter.origin.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Localização</mat-label>
      <input matInput [(ngModel)]="editedCharacter.location.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Imagem URL</mat-label>
      <input matInput [(ngModel)]="editedCharacter.image" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="buttons">
  @if(data.episode.length === 0 && data.created !== '') {
  <button mat-fab color="warn" aria-label="Save" (click)="onRemoveClick()">
    <mat-icon>delete</mat-icon>
  </button>
  }
  @else if (data.created !== '') {
    <mat-icon matTooltip="Só é possível excluir personagens criados por você!" matTooltipPosition="left">info</mat-icon>
  }

  <button mat-button (click)="onCloseClick()">Fechar</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">Salvar</button>
</mat-dialog-actions>
