.dialog-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.dialog-content {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-start;
}

::ng-deep .mat-mdc-dialog-actions {
  padding: 24px !important;
}

.character-image {
  margin-top: 8px;
  max-width: 100%;
  height: 320px;
  border-radius: 8px;
  flex-shrink: 0;
  object-fit: cover;
}

.edit-form {
  padding-top: 8px;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 250px;      // tenta ficar do lado, quebra quando não couber
  min-width: 200px;
}

mat-form-field {
  flex: 1 1 280px;
  min-width: 250px;
  min-height: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
