<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <div class="brand-icon">
        <a routerLink="/">
          <img src="assets/images/Rick_and_Morty.svg" alt="Victor RickMorty UI" class="brand-icon-img" width="100">
        </a>
      </div>
      <span class="brand-text"></span>
    </div>

    <ul class="navbar-menu">
      <li class="navbar-item">
        <a routerLink="/" class="navbar-link">Home</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/list" class="navbar-link">Listar</a>
      </li>
    </ul>
  </div>
</nav>
