<div class="list-container">

  <h1 class="title">PERSONAGENS</h1>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Pesquisar Personagem</mat-label>
    <input matInput placeholder="Digite o nome do personagem" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint>Pesquise pelo nome do personagem</mat-hint>
  </mat-form-field>

  <div class="create-character">
    <button mat-raised-button color="primary" (click)="openCreateCharacterDialog()">
      <mat-icon>add</mat-icon>
      Novo Personagem
    </button>
  </div>

  <div class="characters-list">
    @for(character of characters; track character.id) {
      <app-character-card [character]="character" (characterChange)="updateCharacter($event)"></app-character-card>
    }
  </div>
</div>
